<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.airlineapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirlineApp" >
        <activity android:name=".SearchFrom" >
        </activity>
        <activity android:name=".SelectClassAndTravellers" />
        <activity android:name=".flightSummary" >

            <!-- android:theme="@android:style/Theme.Dialog" -->

        </activity>
        <activity android:name=".booking" />
        <activity android:name=".booking_details" />
        <activity android:name=".Sflight" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>